* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Gugi, 'sans-serif';
}

header {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-size: 100px;
    font-weight: 1000;
}

footer {
    margin-top: 500px;
    text-align: center;
}

.container {
    margin: 0 150px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 5px;
    border-radius: 200px;
}

.grid:nth-child(1) .box:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff867c;
}

.grid:nth-child(2) .box:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8bf6ff;
}

.grid:nth-child(2) .box:nth-child(2) {
    background-color: #e6ffff;
}

.grid:nth-child(1) .box:nth-child(2),
.grid:nth-child(2) .box:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.box img {
    height: 600px;
    
    object-position: center;
}

.text-box {
    font-size: 20px;
}

.text-box h2{
    font-size: 30px;
}

.text-box ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 50px 0;
}

.text-box .reeLi {
    padding: 10px 0;
}

.button-grid {
    margin: 20px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
}

.button-grid .btn {
    font-weight: bolder;
    border: black 1px solid;
    background:transparent;
    outline: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.button-grid .btn:hover {
    color: white;
    background:black;
    box-shadow: inset white 2px 2px, inset white -2px -2px;
}