* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  position: absolute;
  width: 100%;
  top:0; 
  background-color: black;
  padding-bottom: 1000px;
}

.box {
  margin: 500px auto;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.a {
  background: green;
}

.b {
  background: orange;
}

.c {
  background: orchid;
}

.multi-box {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box-bis {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.d {
  background: grey;
}

.e {
  background: red;
}