.sport-titles {
  margin: 150px;
  position: absolute;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

video {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sport-title {
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  -webkit-text-stroke: 2px #222; /* contour du text*/
  background-clip: text; /* je sais pas trop ce que c*/
  -webkit-background-clip: text; 
  background-image: linear-gradient(to bottom, transparent 50%, black 50%); /* simple gradient*/
  color: transparent; 
  margin-left: 100px;
  transition: background-position ease-out 0.4s;
  background-size: 1% 200%; /* repète le background tous les 200 % pour faire disparaitre une des bandes du gradient */
}

.sport-title:hover {
  background-position: 0 +100%; /* change la position des bandes  pour l'effet */
}
