:root {
	--font-size: 3rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

html {
	font-size: 62.5%;
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(5, 2, 48);
	overflow: hidden;
}

section .text {
	position: absolute;
}

section .text .letter {
	scale: 0.2;
}

.shadow {
	fill: rgb(255, 0, 242);
	-webkit-filter: drop-shadow(0 0 1.5rem rgba(113, 0, 128, 0.7));
	filter: drop-shadow(10px 0 5.5rem rgba(0, 255, 191, 0.7));
	/* Similar syntax to box-shadow */
}

svg {
}
