:root {
	--font-size: 3rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

html {
	font-size: 62.5%;
}

section {
	height: 100vh;
	position: relative;
	background-color: rgb(17, 4, 54);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.img-text {
	position: absolute;
	top: 50px;
	left: 50px;
}
.img {
	position: absolute;
	top: -50px;
	transform-origin: 0 50px;
	height: 0.5rem;
	filter: drop-shadow(0rem 0rem 1rem rgb(243, 243, 243));
}
