:root {
	--font-size: rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

html {
	font-size: 62.5%;
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(145, 145, 145);
	overflow: hidden;
}

section .text {
	position: absolute;
}

section .text .letter {
}

section .text .img-text {
	height: var(--font-size);
	margin
	/*filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
}
