*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container-card {
    position: relative;
}

.card {
    width: 400px;
    height: 600px;
    background-color: pink;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
}

.image-zoom {
    width: 100%;
    height: 100%;
    background-image: url('bryan.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1);
}

.bloc-focus-top, .bloc-focus-bottom{
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 300px;
}
.bloc-focus-top {
    background-color: #536976;
    top:0;
    left:0;
}
.bloc-focus-bottom{
    background-color: #292E49;
    bottom:0;
    right:0;
}

.bloc-content-show {
    width: 100%;
    height: 200px;
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,
    transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,
    transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,
    transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,
    transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
    position: absolute;
    z-index: 100;
    bottom: 0;
    color: #f1f1f1;
    padding: 15px;
    transform: translateY(200px);
}

.bloc-content-show h2 {
    font-size:35px;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
}

.bloc-content-show h2 img {
    width: 30px;
}

.bloc-content-show hr {
    width: 100px;
    height: 1px;
    border-radius: 5px;
    margin: 7px 0 20px;
    border: none;
    background-color: #f1f1f1;
}

.bloc-content-show p {
    font-family: Roboto, sans-serif;
    margin: 5px 0;
    font-size: 18px;
    line-height: 1.4;
}

.bloc-content-show p span {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}