* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

section {
  position: relative;
  height: 100vh;
}

section:nth-child(1) {
  background: rgb(48, 48, 48);
}

.container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.container:nth-child(1)  h1{
  overflow: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
} 

.container:nth-child(1)  h1 .hi-box {
  position: relative;
}

.container:nth-child(1)  h1 .hi {
  display: inline-block;
}

.container h1:nth-child(1) .box {
  display: inline-block;
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 100%;
  z-index: -1;
  background-color: rgb(0, 255, 149);
}

.normal {
  color: purple;
}

.react {
  color: aqua;
}

.vue {
  color: greenyellow;
}

.angular {
  color: orangered;
}

