* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.grid-element {
  text-align: center;
  background-color: red;
}
