* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

video {
  position: absolute;
  z-index: 10;
  visibility: hidden;
}

canvas {
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  background: #f1f1f1;
  z-index: 100;
  display: block;
  margin: 75px auto;
}