* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  /* background: #000; */
  background-color: #fff
}

canvas {
  color: blue ;
  background-color: red;
}