* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  min-height: 20vh;
  background-color: #230085;
}

.menu {
  padding: 100px 0;
  margin: auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}

.menu .link {

}

.menu .link a,
.menu .link a:visited {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.menu .link a:hover {
  color: grey;
}

/**
SWUP
*/

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
