* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.loading-container h1 {
    font-family: sans-serif;
    font-size: 100px;
    color: rgb(47, 124, 196);
}

.loading-container img {
    height: 100px;
}

.load-bar {
    position: absolute;
    margin-top: 10px;
    height: 2px;
    width: 10%;
    bottom: 0;
    left: 0;
    background: rgb(47, 124, 196);
    animation: load-bar 1s infinite;
}

@keyframes load-bar {
    50% {
        left: 90%;
    }

    100% {
        left: 0;
    }
}

.loading-text {
    margin: 100px 200px;
    font-family: sans-serif;
}

.loading-text h1{
    animation: load-text 2s infinite;
}

.loading-text h3{
    margin: 25px 10px;
    animation: load-text 2s infinite;
}

.loading-text p {
    margin-left: 5px;
    text-align: justify;
    animation: load-text 2s infinite;
}

@keyframes load-text {
    0% {
        border-radius: 10px;
        background: rgb(224, 224, 224);
        color: transparent;
    }
    50% {
        border-radius: 10px;
        background: rgb(201, 200, 200);
        color: transparent;
    }
    100% {
        border-radius: 10px;
        background: rgb(224, 224, 224);
        color: transparent;
    }
}