* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    background-image: url('./images/voyage1_pexels.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 300px;
    font-family: lobster, sans-serif;
    font-size: 5rem;
    top: 25rem;
    letter-spacing: 10px;
    color: white;
}

/* Section */
.img1 {
  background: url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  height: 100rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}