* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  pointer-events: none;
  animation: animate 5s linear infinite;
}

.loader span:nth-child(1) {
  border-radius: 34% 66% 88% 12% / 58% 30% 70% 42%;
}

.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 34% 66% 64% 36% / 58% 64% 36% 42%;
}

.loader span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 83% 17% 78% 22% / 28% 80% 20% 72%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader h2 {
  font-family: consolas;
  font-weight: 500;
  color: white;
}